{% assign post=include.post %}
{% assign author = site.authors | where: "name", post.author | first %}

<article class="post content">
  <header>
    <h1 class="ui header">
      <div class="content">
        {% if post == page %}
          <span itemprop="name headline">{{ post.title }}</span>
        {% else %}
          <a href="{{ post.url }}" class="ui header" itemprop="name headline">
            <h1>{{ post.title }}</h1>
          </a>
        {% endif %}
        <div class="sub header">
          <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ post.date | date: "%b %-d, %Y" }}
          </time>
          by 
          <a itemprop="author" href="{{ /team/{{author.slug}}/ | prepend: site.baseurl }}" class="ui link">
            {{author.display_name}}
          </a>
        </div>
      </div>
    </h1>
  </header>
  <div class="ui horizontal divider"></div>
  <div class="content" itemprop="articleBody">
    {% if include.display %}
      {{ include.display }}
    {% else %}
      {{ post.content }}
    {% endif %}
  </div>

</article>
